.title {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    margin: 0 auto;
    padding: 8px 0px;
    color: #FFFFFF;
    max-width: 177px;
    border-bottom: 0.3px solid rgba(255, 255, 255, 0.9);

}

.title h2 {
    margin: 0
}