.task-input-line {
    display: flex;
    margin: 10px 0 10px 1.5px;
}

.task-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 26px;
    min-height: 25px;
    height: 25px;
    color: #ECECEC;
    padding: 0px 11px;
}

.task-input {
    background-color: #2B2B2B;
    border: none;
    outline: none;
    color: white;
    font: inherit;
    line-height: 0.2;
    padding-top: 0;
    min-width: 190px;
}