.tab {
    width: 55px;
    height: 26px;
    font-size: 14px;
    font-weight: bold;
    line-height: 26px;
    text-align: center;
    color: #ECECEC;
    background: rgba(196, 196, 196, 0.15);
    border-radius: 3px 3px 0px 0px;
    margin: 0 1px;
}

.tab-selected {
    background: rgba(196, 196, 196, 0.25);
}